UBTI_3.0.2_TR_RTMS_SAPFIN_SHOP/UBTI_3.0.0_JOB_RTMS_SAPFIN_SHOP_Main.json
{"flowContents":{"identifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","instanceIdentifier":"95ce8c40-019a-1000-4e44-0f337942538e","name":"UBTI_3.0.0_JOB_RTMS_SAPFIN_SHOP_Main","comments":"","position":{"x":2480.0,"y":112.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"73897ae0-0197-1000-fedb-6f180058e192","instanceIdentifier":"14770df7-46e6-3459-6fe3-6a2cc26e7745","name":"Padding Fields","comments":"","position":{"x":-2640.0,"y":-840.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"/linecode":"${field.value:padRight(12, ' ')}","/businessdate":"${field.value:toDate('yyyy-MM-dd'):format(\"ddMMyyyy\")}","/transactionid":"${field.value:padLeft(12, '0')}","/product":"${field.value:padRight(18, ' ')}","/saptaxbaseamount":"${field.value:toNumber():padLeft(15, '0')}","Record Reader":"73897adf-0197-1000-b66d-cb69d48ec8ad","/drawnumber":"${field.value:padRight(18, ' ')}","/cccode":"${field.value:padRight(10, ' ')}","/saptaxcode":"${field.value:padRight(2, ' ')}","/currencycode":"${field.value:padRight(3, ' ')}","Replacement Value Strategy":"literal-value","/idmmbusinessday":"${field.value:padRight(12, ' ')}","/sapdoctype":"${field.value:padRight(2, ' ')}","/sapcontrolacctcode":"${field.value:padRight(15, ' ')}","/sappostingkey":"${field.value:padRight(2, ' ')}","/amount":"${field.value:toNumber():padLeft(15, '0')}","Record Writer":"73897ade-0197-1000-c8e1-303f5f5db1fe","/customer":"${field.value:padRight(10, ' ')}","/documentdate":"${field.value:toDate('yyyy-MM-dd'):format(\"ddMMyyyy\")}","/sapassignment":"${field.value:padRight(18, ' ')}","/glnumber":"${field.value:padRight(10, ' ')}","/itemid":"${field.value:padLeft(12, '0')}","/description":"${field.value:padRight(50, ' ')}"},"propertyDescriptors":{"/linecode":{"name":"/linecode","displayName":"/linecode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/businessdate":{"name":"/businessdate","displayName":"/businessdate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/transactionid":{"name":"/transactionid","displayName":"/transactionid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/product":{"name":"/product","displayName":"/product","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/saptaxbaseamount":{"name":"/saptaxbaseamount","displayName":"/saptaxbaseamount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/drawnumber":{"name":"/drawnumber","displayName":"/drawnumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/cccode":{"name":"/cccode","displayName":"/cccode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/saptaxcode":{"name":"/saptaxcode","displayName":"/saptaxcode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/currencycode":{"name":"/currencycode","displayName":"/currencycode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/idmmbusinessday":{"name":"/idmmbusinessday","displayName":"/idmmbusinessday","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/sapdoctype":{"name":"/sapdoctype","displayName":"/sapdoctype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/sapcontrolacctcode":{"name":"/sapcontrolacctcode","displayName":"/sapcontrolacctcode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/sappostingkey":{"name":"/sappostingkey","displayName":"/sappostingkey","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/amount":{"name":"/amount","displayName":"/amount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/customer":{"name":"/customer","displayName":"/customer","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/documentdate":{"name":"/documentdate","displayName":"/documentdate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/sapassignment":{"name":"/sapassignment","displayName":"/sapassignment","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/glnumber":{"name":"/glnumber","displayName":"/glnumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/itemid":{"name":"/itemid","displayName":"/itemid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/description":{"name":"/description","displayName":"/description","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897ae8-0197-1000-f7d7-d2c63a0d58a7","instanceIdentifier":"5baa4543-0948-338c-1b0e-94d4a380ea9a","name":"Config ProcDate Parameter","comments":"","position":{"x":-2640.0,"y":-1424.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"procdate_test":"20250625","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ProcDate":"${#{ProcDate}:isEmpty():ifElse(${now():toNumber():minus(86400000):format(\"yyyyMMdd\")}, #{ProcDate})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"procdate_test":{"name":"procdate_test","displayName":"procdate_test","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ProcDate":{"name":"ProcDate","displayName":"ProcDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#f9f06b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897ae1-0197-1000-d9dd-d4546dd7f12e","instanceIdentifier":"0c0d6b4d-3fe1-3234-2de7-30b4d948afda","name":"Init FlowFile","comments":"","position":{"x":-2640.0,"y":-1600.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"943bc1ef-fb44-37d8-8208-8d31ba0b927f","instanceIdentifier":"b8f8da22-019a-1000-bb8f-b393a5db45c6","name":"Get Output from Python Script","comments":"","position":{"x":-2640.0,"y":-1048.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT\n    IDMMBUSINESSDAY,\n    BUSINESSDATE,\n    ITEMID,\n    TRANSACTIONID,\n    DOCUMENTDATE,\n    LINECODE,\n    SAPDOCTYPE,\n    SAPPOSTINGKEY,\n    SAPCONTROLACCTCODE,\n    LINETEXT AS \"DESCRIPTION\",\n    GLNUMBER,\n    SAPTAXCODE,\n    SAPTAXBASEAMOUNT,\n    CCCODE,\n    SAPASSIGNMENT,\n    CURRENCYCODE,\n    AMOUNT,\n    PRODUCT,\n    DRAWNUMBER,\n    CUSTOMER\nFROM SPPL_DEV_DWH.SPPL_PUBLIC.SP_UBT_GETRTSHOPCLOUD\nORDER BY BUSINESSDATE, TRANSACTIONID, LINECODE;","Database Connection Pooling Service":"b5df5eb9-5e4f-36ea-9691-9c49e8377465","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897ae3-0197-1000-140c-42f8fffeaefa","instanceIdentifier":"356eb67e-3c85-3fca-7ad8-cf7268645575","name":"Text Output File","comments":"","position":{"x":-1448.0,"y":-840.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{SPPL_RTMS_OUT}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897ae7-0197-1000-232c-ce754573f502","instanceIdentifier":"ca68c1f5-4172-3b19-646b-165d2e35f0da","name":"Edit Parquet FileName ","comments":"","position":{"x":-1448.0,"y":-1032.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"RTSHOP_${ProcDate}.parquet","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"95d42f2b-019a-1000-3d93-5f0acf1d20c9","instanceIdentifier":"ce6357ce-ef27-37d2-80e7-faf4d373a988","name":"Execute Python Scripts","comments":"","position":{"x":-2640.0,"y":-1248.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":null,"Command Path":"/home/minhhoang/pyspark/.venv/bin/python","Output Destination Attribute":null,"Argument Delimiter":" ","Ignore STDIN":"false","Command Arguments":"/home/minhhoang/pyspark/Python-Project/UBTI_3.0.2_TR_RTMS_SAPFIN_SHOP/ETL/Main_sp_ubt_getrtshopcloud.py ${procdate_test}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897ae4-0197-1000-8560-deb940661ef8","instanceIdentifier":"940919a4-9bfd-3a10-151f-30b2b9557e5f","name":"Parquet Output File","comments":"","position":{"x":-1448.0,"y":-1224.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{SAPFIN_CURATED}/rtshop/data/year=${ProcDate:substring(0,4)}/month=${ProcDate:substring(4,6)}/day=${ProcDate:substring(6,8)}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897ae6-0197-1000-184d-099215890644","instanceIdentifier":"cb5140ba-f869-37e9-d7fc-7d2b2fae14b7","name":"Edit Text FileName","comments":"","position":{"x":-2040.0,"y":-840.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"RTSHOP${ProcDate:substring(6,8)}${ProcDate:substring(4,6)}${ProcDate:substring(0,4)}.RT","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897ae2-0197-1000-322b-83fa7f00b92e","instanceIdentifier":"64250872-57ac-324f-580e-76f44a6ab136","name":"Trim & Format Date & Calculate Amount","comments":"","position":{"x":-2040.0,"y":-1032.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"/linecode":"${field.value:trim()}","/businessdate":"${field.value:toDate('yyyy-MM-dd'):format(\"yyyy/MM/dd\")}","/transactionid":"${field.value:trim()}","/product":"${field.value:trim()}","/saptaxbaseamount":"${field.value:toDecimal():divide(100)}","Record Reader":"73897adf-0197-1000-b66d-cb69d48ec8ad","/drawnumber":"${field.value:trim()}","/cccode":"${field.value:trim()}","/saptaxcode":"${field.value:trim()}","/currencycode":"${field.value:trim()}","Replacement Value Strategy":"literal-value","/idmmbusinessday":"${field.value:trim()}","/sapdoctype":"${field.value:trim()}","/sapcontrolacctcode":"${field.value:trim()}","/sappostingkey":"${field.value:trim()}","/amount":"${field.value:toDecimal():divide(100)}","Record Writer":"73897add-0197-1000-2586-aee5fc7e0b44","/customer":"${field.value:trim()}","/documentdate":"${field.value:toDate('yyyy-MM-dd'):format(\"yyyy/MM/dd\")}","/sapassignment":"${field.value:trim()}","/glnumber":"${field.value:trim()}","/itemid":"${field.value:trim()}","/description":"${field.value:trim()}"},"propertyDescriptors":{"/linecode":{"name":"/linecode","displayName":"/linecode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/businessdate":{"name":"/businessdate","displayName":"/businessdate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/transactionid":{"name":"/transactionid","displayName":"/transactionid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/product":{"name":"/product","displayName":"/product","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/saptaxbaseamount":{"name":"/saptaxbaseamount","displayName":"/saptaxbaseamount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/drawnumber":{"name":"/drawnumber","displayName":"/drawnumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/cccode":{"name":"/cccode","displayName":"/cccode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/saptaxcode":{"name":"/saptaxcode","displayName":"/saptaxcode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/currencycode":{"name":"/currencycode","displayName":"/currencycode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/idmmbusinessday":{"name":"/idmmbusinessday","displayName":"/idmmbusinessday","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/sapdoctype":{"name":"/sapdoctype","displayName":"/sapdoctype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/sapcontrolacctcode":{"name":"/sapcontrolacctcode","displayName":"/sapcontrolacctcode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/sappostingkey":{"name":"/sappostingkey","displayName":"/sappostingkey","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/amount":{"name":"/amount","displayName":"/amount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/customer":{"name":"/customer","displayName":"/customer","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/documentdate":{"name":"/documentdate","displayName":"/documentdate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/sapassignment":{"name":"/sapassignment","displayName":"/sapassignment","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/glnumber":{"name":"/glnumber","displayName":"/glnumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/itemid":{"name":"/itemid","displayName":"/itemid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/description":{"name":"/description","displayName":"/description","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5d7fca6e-b9a0-3ff7-88a9-9840fbabec15","instanceIdentifier":"b8f9109d-019a-1000-5294-e0e65555f4c2","name":"","source":{"id":"943bc1ef-fb44-37d8-8208-8d31ba0b927f","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Get Output from Python Script","comments":"","instanceIdentifier":"b8f8da22-019a-1000-bb8f-b393a5db45c6"},"destination":{"id":"73897ae2-0197-1000-322b-83fa7f00b92e","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Trim & Format Date & Calculate Amount","comments":"","instanceIdentifier":"64250872-57ac-324f-580e-76f44a6ab136"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897aef-0197-1000-a1da-5eaa05381947","instanceIdentifier":"8a129829-e3e7-350b-1076-22f53e7fe0ef","name":"","source":{"id":"73897ae2-0197-1000-322b-83fa7f00b92e","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Trim & Format Date & Calculate Amount","comments":"","instanceIdentifier":"64250872-57ac-324f-580e-76f44a6ab136"},"destination":{"id":"73897ae7-0197-1000-232c-ce754573f502","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Edit Parquet FileName ","comments":"","instanceIdentifier":"ca68c1f5-4172-3b19-646b-165d2e35f0da"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897aee-0197-1000-f2b1-49b7c57f169f","instanceIdentifier":"73f3ab32-a29b-32a0-12e4-4a6914f71400","name":"","source":{"id":"73897ae7-0197-1000-232c-ce754573f502","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Edit Parquet FileName ","comments":"","instanceIdentifier":"ca68c1f5-4172-3b19-646b-165d2e35f0da"},"destination":{"id":"73897ae4-0197-1000-8560-deb940661ef8","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Parquet Output File","comments":"","instanceIdentifier":"940919a4-9bfd-3a10-151f-30b2b9557e5f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"fc338244-7ad0-3e51-a8e0-2119a6e9b670","instanceIdentifier":"b8f91f87-019a-1000-389d-70aeb025a260","name":"","source":{"id":"943bc1ef-fb44-37d8-8208-8d31ba0b927f","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Get Output from Python Script","comments":"","instanceIdentifier":"b8f8da22-019a-1000-bb8f-b393a5db45c6"},"destination":{"id":"73897ae0-0197-1000-fedb-6f180058e192","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Padding Fields","comments":"","instanceIdentifier":"14770df7-46e6-3459-6fe3-6a2cc26e7745"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897aea-0197-1000-46e5-becab6cc266e","instanceIdentifier":"3a29c0bb-f2e3-3e4d-f3b0-4211a38be369","name":"","source":{"id":"73897ae1-0197-1000-d9dd-d4546dd7f12e","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Init FlowFile","comments":"","instanceIdentifier":"0c0d6b4d-3fe1-3234-2de7-30b4d948afda"},"destination":{"id":"73897ae8-0197-1000-f7d7-d2c63a0d58a7","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Config ProcDate Parameter","comments":"","instanceIdentifier":"5baa4543-0948-338c-1b0e-94d4a380ea9a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"082b8cea-d9f4-3aa6-935f-f5ea608c12b6","instanceIdentifier":"b8f8f485-019a-1000-05fd-b79639101cf5","name":"","source":{"id":"95d42f2b-019a-1000-3d93-5f0acf1d20c9","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Execute Python Scripts","comments":"","instanceIdentifier":"ce6357ce-ef27-37d2-80e7-faf4d373a988"},"destination":{"id":"943bc1ef-fb44-37d8-8208-8d31ba0b927f","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Get Output from Python Script","comments":"","instanceIdentifier":"b8f8da22-019a-1000-bb8f-b393a5db45c6"},"labelIndex":0,"zIndex":7,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897aed-0197-1000-eed8-3703539c230e","instanceIdentifier":"e8ff4a8a-4cf3-33be-dd86-888000ab7ffc","name":"","source":{"id":"73897ae6-0197-1000-184d-099215890644","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Edit Text FileName","comments":"","instanceIdentifier":"cb5140ba-f869-37e9-d7fc-7d2b2fae14b7"},"destination":{"id":"73897ae3-0197-1000-140c-42f8fffeaefa","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Text Output File","comments":"","instanceIdentifier":"356eb67e-3c85-3fca-7ad8-cf7268645575"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"08bad9d8-e532-3767-984f-9081d5d220f3","instanceIdentifier":"95d4861f-019a-1000-f85d-48f9937973df","name":"","source":{"id":"73897ae8-0197-1000-f7d7-d2c63a0d58a7","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Config ProcDate Parameter","comments":"","instanceIdentifier":"5baa4543-0948-338c-1b0e-94d4a380ea9a"},"destination":{"id":"95d42f2b-019a-1000-3d93-5f0acf1d20c9","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Execute Python Scripts","comments":"","instanceIdentifier":"ce6357ce-ef27-37d2-80e7-faf4d373a988"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897aec-0197-1000-c68f-46aa4fadcdb4","instanceIdentifier":"633b269c-6b78-3b53-8e39-0f9605a3d058","name":"","source":{"id":"73897ae0-0197-1000-fedb-6f180058e192","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Padding Fields","comments":"","instanceIdentifier":"14770df7-46e6-3459-6fe3-6a2cc26e7745"},"destination":{"id":"73897ae6-0197-1000-184d-099215890644","type":"PROCESSOR","groupId":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e","name":"Edit Text FileName","comments":"","instanceIdentifier":"cb5140ba-f869-37e9-d7fc-7d2b2fae14b7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"}],"labels":[{"identifier":"b2162563-1506-33d9-8ff6-a1a1f1a30ad4","instanceIdentifier":"b928bfec-019a-1000-61f4-f914194cf431","position":{"x":-2280.0,"y":-1424.0},"label":"Testing\n- With ${procdate_test}","zIndex":1,"width":208.0,"height":320.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"}],"funnels":[],"controllerServices":[{"identifier":"73897ade-0197-1000-c8e1-303f5f5db1fe","instanceIdentifier":"19fa5e2e-119a-34ea-c013-bf13b7ac575f","name":"FreeFormTextRecordSetWriter","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"Text":"${idmmbusinessday}${businessdate}${itemid}${transactionid}${documentdate}${linecode}${sapdoctype}${sappostingkey}${sapcontrolacctcode}${description}${glnumber}${saptaxcode}${saptaxbaseamount}${cccode}${sapassignment}${currencycode}${amount}${product}${drawnumber}${customer}","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897adf-0197-1000-b66d-cb69d48ec8ad","instanceIdentifier":"5c947ef3-3e86-3c73-6cbe-94502433a852","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"eee6bdf0-2ce2-3e64-927a-abffb61644cd","instanceIdentifier":"95d88a00-019a-1000-a2fd-b230f7e074de","name":"ParquetReader","comments":"","type":"org.apache.nifi.parquet.ParquetReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.3.0"},"properties":{"avro-add-list-element-records":"true","avro-read-compatibility":"true"},"propertyDescriptors":{"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-read-compatibility":{"name":"avro-read-compatibility","displayName":"Avro Read Compatibility","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"b5df5eb9-5e4f-36ea-9691-9c49e8377465","instanceIdentifier":"b91b7df7-019a-1000-cc42-9c3f771535c1","name":"SNOWFLAKE CONN","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"net.snowflake.client.jdbc.SnowflakeDriver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:snowflake://SPPL-NONPROD.snowflakecomputing.com/?private_key_file=/home/minhhoang/Snowflake/privatekey/snowflake_dev_rsakey1.p8&private_key_file_pwd=snowflakeqlik54321!","dbcp-time-between-eviction-runs":"-1","Database User":"SVC_SNOWFLAKE_NIFI","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/home/minhhoang/nifi-2.4.0/Drivers/snowflake-jdbc-3.27.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"},{"identifier":"73897add-0197-1000-2586-aee5fc7e0b44","instanceIdentifier":"0f0f52d3-fd24-3c70-a0a0-4fecf2f3fd29","name":"ParquetRecordSetWriter","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"RTMS_SAPFIN_SHOP\",\n  \"fields\": [\n    {\n      \"name\": \"IDMMBusinessDay\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"idmmbusinessday\"]\n    },\n    {\n      \"name\": \"BusinessDate\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"businessdate\"]\n    },\n    {\n      \"name\": \"ItemID\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"itemid\"]\n    },\n    {\n      \"name\": \"TransactionID\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"transactionid\"]\n    },\n    {\n      \"name\": \"DocumentDate\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"documentdate\"]\n    },\n    {\n      \"name\": \"LineCode\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"linecode\"]\n    },\n    {\n      \"name\": \"SAPDocType\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"sapdoctype\"]\n    },\n    {\n      \"name\": \"SAPPostingKey\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"sappostingkey\"]\n    },\n    {\n      \"name\": \"SAPControlAcctCode\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"sapcontrolacctcode\"]\n    },\n    {\n      \"name\": \"Description\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"description\"]\n    },\n    {\n      \"name\": \"GLNumber\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"glnumber\"]\n    },\n    {\n      \"name\": \"SAPTaxCode\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"saptaxcode\"]\n    },\n    {\n      \"name\": \"SAPTaxBaseAmount\",\n      \"type\": [\"null\", \"double\"],\n      \"aliases\": [\"saptaxbaseamount\"]\n    },\n    {\n      \"name\": \"CCCode\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"cccode\"]\n    },\n    {\n      \"name\": \"SAPAssignment\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"sapassignment\"]\n    },\n    {\n      \"name\": \"CurrencyCode\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"currencycode\"]\n    },\n    {\n      \"name\": \"Amount\",\n      \"type\": [\"null\", \"double\"],\n      \"aliases\": [\"amount\"]\n    },\n    {\n      \"name\": \"Product\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"product\"]\n    },\n    {\n      \"name\": \"DrawNumber\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"drawnumber\"]\n    },\n    {\n      \"name\": \"Customer\",\n      \"type\": [\"null\", \"string\"],\n      \"aliases\": [\"customer\"]\n    }\n  ]\n}","avro-add-list-element-records":"true","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"30b4c0a1-5b5a-3a2e-9cc0-6bdda9b20a0e"}],"parameterContextName":"local_3.0.0_JOB_RTMS_SAPFIN_SHOP_Main","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"gl_filepath_group":{"name":"gl_filepath_group","parameters":[{"name":"SPPL_MAPR_HDFS_ES_CURATED","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhd\\Company\\Project\\SPPL\\test\\SPPL_MAPR_HDFS_ES_CURATED"},{"name":"SPPL_OB_RAW","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\OB_RAW"},{"name":"SPPL_RTMS_OUT","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\RTMS_OUT"},{"name":"SPPL_MAPR_HDFS_COMMON","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhd\\Company\\Project\\SPPL\\test\\SPPL_MAPR_HDFS_COMMON"},{"name":"SPPL_MAPR_HDFS_CURATED_TEMPORARY","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhd\\Company\\Project\\SPPL\\test\\SPPL_MAPR_HDFS_CURATED_TEMPORARY"},{"name":"SPPL_OB_OUT","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\OB_SAPFIN\\out"},{"name":"SPPL_OB_CURATED","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\OB_CURATED"},{"name":"SPPL_RTMS_CURATED","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\RTMS_CURATED"},{"name":"SPPL_MAPR_HDFS_OB_RAW","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhd\\Company\\Project\\SPPL\\test\\SPPL_MAPR_HDFS_OB_RAW"},{"name":"SPPL_UBT_RAW","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\UBT_RAW"},{"name":"SPPL_RTMS_IN","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\RTMS_IN"},{"name":"SPPL_OB_PROC","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\OB_SAPFIN\\proc"},{"name":"SPPL_UBT_STAGING","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\UBT_STAGING"},{"name":"SPPL_COMMON_RAW","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\COMMON_RAW"},{"name":"SPPL_RTMS_RAW","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\RTMS_RAW"},{"name":"SPPL_COMMON_STAGING","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\COMMON_STAGING"},{"name":"SPPL_OB_IN","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\OB_SAPFIN\\in"},{"name":"SPPL_MAPR_HDFS_CURATED","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhd\\Company\\Project\\SPPL\\test\\SPPL_MAPR_HDFS_CURATED"},{"name":"SPPL_OB_STAGING","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\OB_STAGING"},{"name":"SPPL_UBT_CURATED","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\UBT_CURATED"},{"name":"SPPL_OB_ERR","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\OB_SAPFIN\\err"},{"name":"SPPL_MAPR_HDFS_OB_CURATED","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhd\\Company\\Project\\SPPL\\test\\SPPL_MAPR_HDFS_OB_CURATED"},{"name":"SAPFIN_CURATED","description":"","sensitive":false,"provided":false,"value":"C:\\Users\\nhphuc\\Company\\Project\\SPPL\\Test\\OB_SAPFIN\\curated"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"local_3.0.0_JOB_RTMS_SAPFIN_SHOP_Main":{"name":"local_3.0.0_JOB_RTMS_SAPFIN_SHOP_Main","parameters":[{"name":"ProcDate","description":"ProcessDate-YYYYMMDD","sensitive":false,"provided":false}],"inheritedParameterContexts":["gl_filepath_group"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}